@charset "UTF-8";
/* 文字コードの指定 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: 'arboria', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: .07em;
  line-height: 1.75;
  color: #e8e8e8;
  background-color: #11152C;
}

@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

a {
  color: #e8e8e8;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h3 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.6;
  color: #e8e8e8;
}

@media (min-width: 768px) {
  h3 {
    font-size: 2.6rem;
  }
}

.header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
  width: 100%;
  height: 6rem;
  background: -webkit-linear-gradient(-90deg, #18264E, #11152C);
  padding: 0 0 0 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .header {
    padding: 0 3rem 0 5rem;
    height: 10rem;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0 2rem 0 5rem;
    height: 10rem;
  }
}

.logo {
  display: inherit;
  margin: 0;
  width: 1.9rem;
  height: 1.9rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo span {
  display: inherit;
  padding-left: 1rem;
  font-weight: 600;
  font-size: 1.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e8e8e8;
}

@media (min-width: 768px) {
  .logo {
    width: 3rem;
    height: 3rem;
  }
  .logo span {
    font-size: 2.6rem;
    padding-left: 1.5rem;
  }
}

.icon-menu:before {
  content: "\e901";
  font-size: 1.8rem;
  vertical-align: middle;
  line-height: 2;
}

.nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6rem;
  height: 6rem;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .nav-button span {
    font-size: 4.5rem;
  }
}

@media (min-width: 899px) {
  .nav-button {
    display: none;
  }
}

.sp-nav {
  position: absolute;
  top: 6rem;
  left: 0;
  background: radial-gradient(circle farthest-side at 200px 200px, #1D386F 0%, #18264E 50%, #141630 100%);
  display: none;
  z-index: 1000;
  width: 100%;
  padding: 8rem 4rem;
  font-family: 'futura-pt', sans-serif;
  font-size: 2.6rem;
  font-style: normal;
  letter-spacing: 0.1em;
  text-align: center;
  border-top: 1px solid #8A2DD9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .sp-nav {
    top: 10rem;
  }
}

.sp-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  background: -webkit-linear-gradient(0deg, #A215D6, #3273C7, #1EB98E);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.sp-nav-list li {
  margin-bottom: 4rem;
}

.sp-nav-list li.last-child {
  margin-bottom: 2rem;
}

.pc-nav {
  display: none;
}

@media (min-width: 900px) {
  .pc-nav {
    display: block;
  }
}

.pc-nav-list {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  list-style: none;
}

.pc-nav-list li {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 3rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pc-nav-list li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.pc-nav-list li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#5815D8), color-stop(50%, #3273C7), to(#35BA95));
  background: linear-gradient(to right, #5815D8 0%, #3273C7 50%, #35BA95 100%);
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.pc-nav-list li a:hover::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.cover {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 6rem 0 3rem;
  height: 45rem;
  color: #fff;
}

@media (min-width: 768px) {
  .cover {
    height: 58rem;
    margin: 10rem 0 0;
  }
}

@media (min-width: 1025px) {
  .cover {
    height: 79rem;
    margin: 10rem 0 3rem;
  }
}

@media (min-width: 1600px) {
  .cover {
    padding-bottom: 300px;
  }
}

.cover-video {
  display: none;
}

@media (min-width: 499px) {
  .cover-video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    height: auto;
  }
}

.cover-video-sp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

@media (min-width: 500px) {
  .cover-video-sp {
    display: none;
  }
}

.cover-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  z-index: 90;
  position: absolute;
  top: 10rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding-left: 2rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .cover-box {
    top: 4.5rem;
    left: 0;
    padding: 5rem;
  }
}

@media (min-width: 900px) {
  .cover-box {
    top: 6.5rem;
  }
}

@media (min-width: 1025px) {
  .cover-box {
    margin-top: 9.5rem;
  }
}

.cover-title {
  margin: 0;
  font-family: 'futura-pt', sans-serif;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 4rem;
  color: #48F2C3;
  background: -webkit-linear-gradient(0deg, #5815D8, #3273C7, #35BA95);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards;
          animation: fadein 3s ease forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .cover-title {
    font-size: 6rem;
    line-height: 7.5rem;
  }
}

@media (min-width: 1025px) {
  .cover-title {
    font-size: 8.6rem;
    line-height: 9.3rem;
  }
}

.cover-discription {
  width: 75%;
  margin: 1rem 0 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards;
          animation: fadein 3s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .cover-discription {
    font-size: 2.4rem;
    width: 70%;
    margin: 2rem 0 1rem;
  }
}

@media (min-width: 900px) {
  .cover-discription {
    width: 50%;
  }
}

@media (min-width: 1025px) {
  .cover-discription {
    margin: 3rem 0 1rem;
    font-size: 2.8rem;
  }
}

.cover-footer {
  position: absolute;
  top: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .cover-footer {
    top: 48rem;
  }
}

@media (min-width: 900px) {
  .cover-footer {
    top: 40rem;
    display: none;
  }
}

.button-cover {
  padding: 1.7rem 7rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #48F2C3;
  background: -webkit-linear-gradient(0deg, #5815D8, #3273C7, #35BA95);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #11152C;
  border: 1px solid #8A2DD9;
  border-radius: 5rem;
  -webkit-box-shadow: 0 0 0 4px #141630, 0 0 0 5px #8A2DD9;
          box-shadow: 0 0 0 4px #141630, 0 0 0 5px #8A2DD9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 399px) {
  .button-cover {
    margin: 0;
  }
}

@media (min-width: 400px) {
  .button-cover {
    margin-top: 2rem;
  }
}

@media (min-width: 650px) {
  .button-cover {
    display: none;
  }
}

.sub-cover {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  padding-top: 10rem;
}

@media (min-width: 768px) {
  .sub-cover {
    padding: 15rem 5rem 5rem 5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 900px) {
  .sub-cover {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.sub-cover-title {
  margin: 0;
  font-family: 'futura-pt', sans-serif;
  letter-spacing: 0.1em;
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background: -webkit-linear-gradient(0deg, #5815D8, #3273C7, #35BA95);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-animation: fadein 4s ease forwards;
          animation: fadein 4s ease forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .sub-cover-title {
    font-size: 5rem;
  }
}

@media (min-width: 900px) {
  .sub-cover-title {
    width: 30%;
  }
}

.service {
  width: 100%;
  background: -webkit-linear-gradient(-90deg, #11152C, #18406F, #257388);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem 0;
}

@media (min-width: 768px) {
  .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem;
  }
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

@media (min-width: 768px) {
  .service-container {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .service-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 80%;
  }
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 500px) {
  .service-item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 0 3rem;
  }
}

.service-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #11152C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 2rem 1rem;
}

@media (min-width: 500px) {
  .service-body {
    font-size: 2rem;
    width: 530px;
    padding: 2rem 3rem 2rem;
  }
}

.service-title {
  width: 100%;
  margin: 0;
  font-size: 2.1rem;
  line-height: 1.2;
  color: #43d9bd;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.service-title span {
  width: 100%;
  color: #e8e8e8;
  font-size: 1.5rem;
  opacity: 0;
  -webkit-animation: fadein .5s ease forwards;
          animation: fadein .5s ease forwards;
}

@media (min-width: 768px) {
  .service-title {
    font-size: 3.6rem;
  }
  .service-title span {
    font-size: 2.6rem;
  }
}

.service-link {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.service-arrow {
  width: 2.4rem;
  height: auto;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .service-arrow {
    width: 3rem;
    padding-right: 2rem;
  }
}

.service-text {
  display: inline-block;
  color: #43d9bd;
  margin: 0;
  font-size: 1.6rem;
}

.service-text:hover {
  -webkit-animation: zoom .4s;
  animation: zoom .4s;
}

@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.05);
  }
}

@keyframes zoom {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media (min-width: 768px) {
  .service-text {
    font-size: 2.4rem;
  }
}

.service-img-box {
  overflow: hidden;
}

@media (min-width: 1025px) {
  .service-img-box {
    width: 400px !important;
  }
}

.service-image_sp {
  width: 250px;
}

@media (min-width: 768px) {
  .service-image_sp {
    display: none !important;
  }
}

.service-image_pc {
  display: none;
}

@media (min-width: 768px) {
  .service-image_pc {
    display: block;
    width: 100%;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .service-image_pc:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.service-sub {
  width: 100%;
  padding: 0;
  background: -webkit-linear-gradient(-90deg, #133e6ef1, #257388, #3ecfa6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .service-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5rem 5rem 2rem;
  }
}

.service-item-containter_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .service-item-containter_sub {
    margin: 0;
    margin-right: 0;
  }
}

.service-item_sub {
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .service-item_sub {
    padding-bottom: 3rem;
  }
}

@media (min-width: 1025px) {
  .service-item_sub {
    width: 50%;
    padding-right: 3rem;
    padding-bottom: 3rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.service-body_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #11152C;
}

@media (min-width: 768px) {
  .service-body_sub {
    font-size: 2rem;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.sub-service-image-area {
  width: 100%;
  height: 50vw;
  overflow: hidden;
}

@media (min-width: 768px) {
  .sub-service-image-area {
    height: 35vw;
  }
}

@media (min-width: 1025px) {
  .sub-service-image-area {
    height: 21vw;
  }
}

.text-area-service-sub {
  padding: 2rem;
}

@media (min-width: 768px) {
  .text-area-service-sub {
    width: 100%;
    height: 300px;
    padding: 2rem 3rem;
    background-color: #11152C;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 1025px) {
  .text-area-service-sub {
    height: 300px;
  }
}

.service-text-area-lead {
  font-size: 1.5rem;
  padding: 0;
  text-align: jusify;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .service-text-area-lead {
    font-size: 1.8rem;
  }
}

.sub_service-link {
  margin: 0 0 2rem 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-heading {
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .section-heading {
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .section-heading {
    width: 20%;
  }
}

.section-title {
  margin: 0 0 2rem;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #fff;
}

@media (min-width: 768px) {
  .section-title {
    padding: 0;
    margin-bottom: 3rem;
    font-size: 3.6rem;
  }
}

@media (min-width: 1300px) {
  .section-title {
    padding: 0;
    margin-bottom: 2rem;
    font-size: 4.2rem;
  }
}

.sub_section-heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .1em;
}

@media (min-width: 768px) {
  .sub_section-heading {
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .sub_section-heading {
    padding-bottom: 0.05rem;
  }
}

.sub_main-header-discription {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #11152C;
  padding-top: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .sub_main-header-discription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0;
    font-size: 2.2rem;
  }
}

@media (min-width: 900px) {
  .sub_main-header-discription {
    padding: 0 5rem 5rem 5rem;
    width: 60%;
  }
}

.sub_main-header {
  margin-top: 0;
  margin-bottom: 1.5rem;
  opacity: 0;
  -webkit-animation: fadein 4s ease forwards;
          animation: fadein 4s ease forwards;
}

@media (min-width: 768px) {
  .sub_main-header {
    margin-bottom: 2rem;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sub_main-header.text1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.sub_main-header.text2 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.sub_main-header.text3 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .news_container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.news {
  padding: 3rem 2rem 4rem;
  background: -webkit-linear-gradient(90deg, #107876, #107876, #257388);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .news {
    padding: 5rem;
    padding-bottom: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.box-news-area-wrapper {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box_news-area-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .box_news-area-arrows {
    top: 45%;
  }
}

.box-news-area-prev-arrow {
  width: 3rem;
  height: auto;
}

@media (min-width: 768px) {
  .box-news-area-prev-arrow {
    width: 4rem;
    position: absolute;
    left: -3rem;
  }
}

.box-news-area-next-arrow {
  width: 3rem;
  height: auto;
}

@media (min-width: 768px) {
  .box-news-area-next-arrow {
    width: 4rem;
    position: absolute;
    right: -3rem;
  }
}

.box-news-area-container {
  width: calc(100% - 20px);
  height: 80vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin: 0;
  padding: 0;
}

@media (min-width: 500px) {
  .box-news-area-container {
    height: 70vw;
  }
}

@media (min-width: 600px) {
  .box-news-area-container {
    height: 62vw;
  }
}

@media (min-width: 768px) {
  .box-news-area-container {
    width: 668px;
    height: 28vw;
  }
}

@media (min-width: 900px) {
  .box-news-area-container {
    width: 930px;
    height: 28vw;
  }
}

@media (min-width: 1025px) {
  .box-news-area-container {
    height: 24vw;
  }
}

.box-news-list-ajustment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 0 2rem;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .box-news-list-ajustment {
    width: 100%;
    margin: 0;
  }
}

.box-news-item {
  width: calc((100% - 80rem) / 6);
  margin-right: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  background-color: #fff;
}

@media (min-width: 768px) {
  .box-news-item {
    width: calc((100% - 6rem) / 2);
    margin-right: 3rem;
  }
}

@media (min-width: 900px) {
  .box-news-item {
    width: calc((100% - 6rem) / 3);
  }
}

.box-news-image-area {
  width: 100%;
  height: 45vw;
  overflow: hidden;
}

@media (min-width: 768px) {
  .box-news-image-area {
    height: 14vw;
  }
}

@media (min-width: 1025px) {
  .box-news-image-area {
    height: 13vw;
  }
}

.box-news-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.box-news-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.box-news-text-area {
  padding: 2rem;
}

.box-news-text-label-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.box-news-text-label-category {
  color: #43d9bd;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .box-news-text-label-category {
    font-size: 2rem;
  }
}

.box-news-text-label-date {
  color: #777777;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .box-news-text-label-date {
    font-size: 1.5rem;
  }
}

.box-news-text-lead-box {
  overflow: hidden;
}

.box-news-text-lead-text {
  width: 100%;
  text-align: justify;
  position: relative;
  color: #222222;
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
}

.news-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .news-footer {
    margin-top: 5rem;
  }
}

.button-news {
  padding: 1.7rem 7rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #3B1BEB;
  background: -webkit-linear-gradient(0deg, #48F2C3, #22EADB, #3B1BEB);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: none;
  border: 1px solid #5815D8;
  border-radius: 5rem;
  -webkit-box-shadow: 0 0 0 4px #257388, 0 0 0 5px #5815D8;
          box-shadow: 0 0 0 4px #257388, 0 0 0 5px #5815D8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .button-news {
    padding: 2.25rem 12rem;
    font-size: 2rem;
  }
}

@media (min-width: 1025px) {
  .button-news:hover {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    background: -webkit-linear-gradient(45deg, #9015d8, #3273C7, #35BA95);
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    opacity: 90%;
    color: #fff;
  }
}

.news_sub {
  width: 100%;
  padding: 2rem;
  background: -webkit-linear-gradient(90deg, #107876, #107876, #257388);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .news_sub {
    padding: 5rem 5rem 2rem;
  }
}

@media (min-width: 1025px) {
  .news_sub {
    padding-bottom: 5rem;
  }
}

.sub_main_news_container {
  padding-bottom: 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .sub_main_news_container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
  }
}

.box-news-area-container_sub {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.box-news-item_sub {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  background-color: #fff;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .box-news-item_sub {
    width: calc((100% - 3rem) / 2);
    margin-right: 3rem;
    margin-bottom: 3rem;
  }
  .box-news-item_sub:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 1025px) {
  .box-news-item_sub {
    width: calc((100% - 6rem) / 3);
    height: 29.5rem;
  }
  .box-news-item_sub:nth-child(2n) {
    margin-right: 3rem;
  }
  .box-news-item_sub:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .sns-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .sns-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1025px) {
  .sns-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.sns-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-bottom: 3rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .sns-box {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1025px) {
  .sns-box {
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 13rem;
  }
}

.sns-item {
  width: 335px;
  height: 510px;
}

@media (min-width: 1025px) {
  .sns-item {
    height: 500px;
  }
}

.footer {
  padding: 3rem 2rem 2rem;
  font-size: 1.4rem;
  background-color: #11152C;
  background: -webkit-linear-gradient(-90deg, #18264E, #11152C);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .footer {
    padding: 0 5rem 3rem;
  }
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .footer-body {
    padding-top: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .contact-container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .footer-contact {
    width: 70%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-contact-lead {
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 4rem;
  text-align: center;
  letter-spacing: 0.03em;
}

@media (min-width: 768px) {
  .footer-contact-lead {
    margin-top: 0;
    font-size: 2rem;
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .footer-contact-lead {
    margin-top: 1rem;
  }
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer-info {
    padding-top: 1.2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1025px) {
  .footer-info {
    padding-bottom: 3rem;
  }
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.logo_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .logo_center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-logo-mark {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .footer-logo-mark {
    margin-right: 1.5rem;
  }
}

.footer-logo-text {
  display: inherit;
  font-weight: 600;
  font-size: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e8e8e8;
}

@media (min-width: 768px) {
  .footer-logo-text {
    font-size: 2.4rem;
  }
}

.footer-address {
  margin-bottom: 2rem;
  font-style: normal;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-address {
    margin-bottom: 3rem;
    text-align: left;
    font-size: 1.8rem;
  }
}

.footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0.5rem 0 2rem;
  list-style: none;
}

@media (min-width: 768px) {
  .footer-sns {
    margin: 0;
  }
}

.footer-snsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  margin: 0;
  font-size: 2.1rem;
  border: 1px solid #8A2DD9;
  border-radius: 50%;
}

.footer-snsItem:first-child {
  margin-right: 2rem;
}

@media (min-width: 768px) {
  .footer-snsItem {
    width: 6rem;
    height: 6rem;
    font-size: 2.8rem;
    margin: 0;
  }
}

@media (min-width: 1025px) {
  .footer-snsItem {
    background: -webkit-linear-gradient(0deg, #5815D8, #3273C7, #35BA95);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .footer-snsItem:hover {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    background: -webkit-linear-gradient(45deg, #9015d8, #3273C7, #35BA95);
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    opacity: 90%;
    color: #fff;
  }
}

.copyright {
  width: 100%;
  text-align: center;
  color: #fff;
}

.icon-twitter:before {
  content: "\e900";
}

@media (max-width: 1024px) {
  .icon-twitter:before {
    color: #2375dfa6;
  }
}

.icon-facebook:before {
  content: "\e902";
}

@media (max-width: 1024px) {
  .icon-facebook:before {
    color: #2375dfa6;
  }
}

.footer-body-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer-body-sub {
    padding: 3rem 0;
  }
}

.footer-info-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-address-sub {
  margin-bottom: 2rem;
  font-style: normal;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-address-sub {
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .main {
    width: 70%;
    opacity: 0.9;
  }
}

.button-container-mutual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0 3rem;
}

@media (min-width: 768px) {
  .button-container-mutual {
    padding: 5rem 0;
  }
}

.button-mutual {
  padding: 1.7rem 7rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #48F2C3;
  background: -webkit-linear-gradient(0deg, #5815D8, #3273C7, #35BA95);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #11152C;
  border: 1px solid #8A2DD9;
  border-radius: 5rem;
  -webkit-box-shadow: 0 0 0 4px #141630, 0 0 0 5px #8A2DD9;
          box-shadow: 0 0 0 4px #141630, 0 0 0 5px #8A2DD9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .button-mutual {
    padding: 1rem 8rem;
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  .button-mutual {
    padding: 2rem 8rem;
  }
}

@media (min-width: 1025px) {
  .button-mutual {
    padding: 2.5rem 10rem;
  }
  .button-mutual:hover {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    background: -webkit-linear-gradient(45deg, #9015d8, #3273C7, #35BA95);
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    opacity: 90%;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .sidebar {
    width: 30%;
    padding-left: 9rem;
    text-align: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.sidebar-banner {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar-banner li {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .sidebar-banner li {
    margin-bottom: 3rem;
  }
}

.sidebar-banner li:last-child {
  margin-bottom: 0;
}

.company {
  padding: 0;
  background: -webkit-linear-gradient(-90deg, #180a4d44, #18406F, #257388);
}

@media (min-width: 768px) {
  .company {
    padding: 8rem 5rem;
  }
}

.our-services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-services-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our-services-item span {
  font-size: 5rem;
  background: -webkit-linear-gradient(45deg, #9015d8, #3273C7, #35BA95);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .our-services-item {
    width: 25%;
    padding-right: 3rem;
  }
}

.our-services-title {
  margin: 1rem 0 0.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #43d9bd;
}

@media (min-width: 1025px) {
  .our-services-title {
    font-size: 2.6rem;
  }
}

.our-services-text {
  margin: 0;
  text-align: center;
  line-height: 2.2rem;
}

@media (min-width: 1025px) {
  .our-services-text {
    font-size: 1.8rem;
  }
}

.icon-website:before {
  content: "\e907";
}

.icon-mobile:before {
  content: "\e906";
}

.icon-marketing:before {
  content: "\e904";
}

.icon-socialmedia:before {
  content: "\e905";
}

.button-container-ourservices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0 3rem;
}

@media (min-width: 768px) {
  .button-container-ourservices {
    padding: 2rem 0 5rem;
  }
}

.button-ourservices {
  padding: 1.7rem 7rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #48F2C3;
  background: -webkit-linear-gradient(0deg, #36c097, #22b1ea, #3B1BEB);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #11152C;
  border: 1px solid #8A2DD9;
  border-radius: 5rem;
  -webkit-box-shadow: 0 0 0 4px #031b36ad, 0 0 0 5px #8A2DD9;
          box-shadow: 0 0 0 4px #031b36ad, 0 0 0 5px #8A2DD9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1rem 0 3rem;
}

@media (min-width: 768px) {
  .button-ourservices {
    padding: 2rem 8rem;
    font-size: 2rem;
  }
}

@media (min-width: 1025px) {
  .button-ourservices {
    padding: 2.5rem 10rem;
    -webkit-box-shadow: 0 0 0 4px #18256b, 0 0 0 5px #8A2DD9;
            box-shadow: 0 0 0 4px #18256b, 0 0 0 5px #8A2DD9;
  }
  .button-ourservices:hover {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    background: -webkit-linear-gradient(45deg, #9015d8, #3273C7, #35BA95);
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    opacity: 90%;
    color: #fff;
  }
}

.pricing-discription {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1rem;
}

@media (min-width: 1025px) {
  .pricing-discription {
    font-size: 1.8rem;
    width: 95%;
  }
}

.button-container-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0 6rem;
}

@media (min-width: 768px) {
  .button-container-company {
    padding: 3rem 0 8rem;
  }
}

.button-pricing {
  padding: 1.7rem 7rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #48F2C3;
  background: -webkit-linear-gradient(0deg, #36c097, #22b1ea, #3B1BEB);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #11152C;
  border: 1px solid #8A2DD9;
  border-radius: 5rem;
  -webkit-box-shadow: 0 0 0 4px #173561, 0 0 0 5px #8A2DD9;
          box-shadow: 0 0 0 4px #173561, 0 0 0 5px #8A2DD9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .button-pricing {
    padding: 2rem 8rem;
    font-size: 2rem;
  }
}

@media (min-width: 1025px) {
  .button-pricing {
    padding: 2.5rem 10rem;
    -webkit-box-shadow: 0 0 0 4px #1e4974, 0 0 0 5px #8A2DD9;
            box-shadow: 0 0 0 4px #1e4974, 0 0 0 5px #8A2DD9;
  }
  .button-pricing:hover {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    background: -webkit-linear-gradient(45deg, #9015d8, #3273C7, #35BA95);
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    opacity: 90%;
    color: #fff;
  }
}

.team-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 8rem;
}

.team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 2rem 2rem 0;
  width: calc((100% - 2rem)/2);
}

.team-member:nth-child(even) {
  margin-right: 0;
}

@media (min-width: 769px) {
  .team-member {
    width: 25%;
    padding: 1rem 3rem 0 0;
    margin: 0;
  }
}

.member-title {
  line-height: 1.2;
  font-weight: 600;
  margin: 1rem 0 0.5rem 0;
  color: #fff;
}

@media (min-width: 769px) {
  .member-title {
    font-size: 1.8rem;
  }
}

.member-name {
  margin: 0;
  line-height: 1.2;
}

@media (min-width: 769px) {
  .member-name {
    font-size: 1.8rem;
  }
}

.contact {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
  background: -webkit-linear-gradient(-90deg, #180a4d44, #18406F, #257388);
}

@media (min-width: 768px) {
  .contact {
    padding: 5rem 5rem 0;
  }
}

.privacy-policy {
  background-color: white;
  padding: 2rem 2rem 1rem;
  color: #222222;
}

@media (min-width: 768px) {
  .privacy-policy {
    font-size: 1.6rem;
  }
}

.privacy-policy-textcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.privacy-policy-textcontainer p span {
  margin-right: 1rem;
}

.terms-heading {
  color: #11152C;
  font-size: 1.6rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .terms-heading {
    font-size: 2rem;
  }
}

.agreement-checkbox {
  margin: 1rem 0 0 0;
}

@media (min-width: 768px) {
  .agreement-checkbox {
    margin-top: 2rem;
  }
}

.required-field {
  color: #49f2c2;
  margin-top: 5rem;
  font-weight: 600;
}

.required-field span {
  font-weight: 300;
}

@media (min-width: 768px) {
  .required-field {
    font-size: 1.6rem;
  }
}

.form-heading {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #fff;
}

@media (min-width: 768px) {
  .form-heading {
    font-size: 2rem;
  }
}

.required {
  padding: .3rem .6rem .4rem;
  font-size: 2rem;
  color: #49f2c2;
  border-radius: 5rem;
}

@media (min-width: 1024px) {
  .form-item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.form-item {
  margin-bottom: 4rem;
}

@media (min-width: 1024px) {
  .form-item {
    width: 50%;
    padding-right: 4rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .form-item:nth-child(even) {
    padding-right: 0;
  }
}

.form-item-message {
  margin-bottom: 4rem;
}

@media (min-width: 1024px) {
  .form-item-message {
    width: 100%;
  }
}

.form-submit {
  margin-bottom: 4rem;
  text-align: center;
}

.form-submit-text {
  margin-bottom: 3rem;
}

.button-submit {
  padding: 1.7rem 7rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #43d9bd;
  background: transparent;
  border: 1px solid #8A2DD9;
  border-radius: 5rem;
  -webkit-box-shadow: 0 0 0 4px #204566b5, 0 0 0 5px #8A2DD9;
          box-shadow: 0 0 0 4px #204566b5, 0 0 0 5px #8A2DD9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .button-submit {
    font-size: 2rem;
    -webkit-box-shadow: 0 0 0 4px #257288bb, 0 0 0 5px #8A2DD9;
            box-shadow: 0 0 0 4px #257288bb, 0 0 0 5px #8A2DD9;
  }
}

@media (min-width: 900px) {
  .button-submit {
    padding: 2rem 8rem;
  }
}

@media (min-width: 1025px) {
  .button-submit {
    background: -webkit-gradient(linear, left top, right top, from(#48F2C3), color-stop(#22EADB), to(#3B1BEB));
    background: linear-gradient(90deg, #48F2C3, #22EADB, #3B1BEB);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2.5rem 10rem;
    cursor: pointer;
  }
  .button-submit:hover {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    background: -webkit-linear-gradient(45deg, #9015d8, #3273C7, #35BA95);
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    opacity: 90%;
    color: #fff;
  }
}

form {
  margin-bottom: 5rem;
}

label {
  display: inline-block;
}

.radio {
  margin-right: .8rem;
}

input[type=checkbox] {
  display: none;
}

.agree {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 35px;
  position: relative;
  width: auto;
  margin-left: 1rem;
  color: #e8e8e8;
}

@media (min-width: 768px) {
  .agree {
    font-size: 1.8rem;
  }
}

.agree::before {
  background: #fff;
  content: '';
  display: block;
  height: 18px;
  left: 5px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  width: 18px;
}

@media (min-width: 768px) {
  .agree::before {
    height: 20px;
    width: 18px;
    margin-top: -10px;
  }
}

.agree::after {
  border-right: 3px solid #43d9bd;
  border-bottom: 3px solid #43d9bd;
  content: '';
  display: block;
  height: 9px;
  left: 10px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 5px;
}

input[type=checkbox]:checked +
.agree::after {
  opacity: 1;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 1.2rem;
  border: none;
  background-color: #e8e8e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
}

textarea {
  min-height: 18rem;
}

::-webkit-input-placeholder {
  color: #18264E;
}

:-ms-input-placeholder {
  color: #18264E;
}

::-ms-input-placeholder {
  color: #18264E;
}

::placeholder {
  color: #18264E;
}
/*# sourceMappingURL=style.css.map */