//
// contact-style
//


.contact {
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    background: -webkit-linear-gradient(-90deg, #180a4d44, #18406F, #257388);
    @media (min-width: 768px) {
        padding: 5rem 5rem 0;
    }
}

.privacy-policy {
    background-color: white;
    padding: 2rem 2rem 1rem;
    color: $dark-gray;
    @media (min-width: 768px) {
        font-size: 1.6rem;
    }
}

.terms-heading {
    color: $navy;
    font-size: 1.6rem;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
        font-size: 2rem;
    }
}

.agreement-checkbox {
    margin: 1rem 0 0 0;
    @media (min-width: 768px) {
        margin-top: 2rem;
    }
}

.required-field {
    color: $green;
    margin-top: 5rem;
    font-weight: 600;
    span {
        font-weight: 300;
    }
    @media (min-width: 768px) {
        font-size: 1.6rem;
    }
}

.form-heading {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: $white;
    @media (min-width: 768px) {
        font-size: 2rem;
    }
}

.required {
    padding: .3rem .6rem .4rem;
    font-size: 2rem;
    color: $green;
    border-radius: 5rem;
}

.form-item-box {
    @media (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.form-item {
    margin-bottom: 4rem;
    @media (min-width: 1024px) {
        width: 50%;
        padding-right: 4rem;
        box-sizing: border-box;
        &:nth-child(even) {
            padding-right: 0;
        }
    }
}

.form-item-message {
    margin-bottom: 4rem;
    @media (min-width: 1024px) {
        width: 100%;
    }
}


.form-submit {
    margin-bottom: 4rem;
    text-align: center;
}

.form-submit-text {
    margin-bottom: 3rem;
}

.button-submit {
    padding: 1.7rem 7rem;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #48F2C3;
    background: -webkit-linear-gradient(0deg, #48F2C3, #22EADB, #3B1BEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: $navy;
    border: 1px solid $purple;
    border-radius: 5rem;
    box-shadow: 0 0 0 4px #204566b5, 0 0 0 5px #8A2DD9;
    box-sizing: border-box;
    @media (min-width: 768px) {
        font-size: 2rem;
        box-shadow: 0 0 0 4px #257288bb, 0 0 0 5px #8A2DD9;
    }
    @media (min-width: 900px) {
        padding: 2rem 8rem;
    }
    @media (min-width: 1025px) {
        padding: 2.5rem 10rem;
        cursor: pointer;
        &:hover {
            transition-duration: $defaultDuration;
            background: -webkit-linear-gradient(45deg, #9015d8, #3273C7, #35BA95);
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;
            opacity: 90%;
            color: $white;
        }
    }
}

// form style
form {
    margin-bottom: 5rem;
}

label {
    display: inline-block;
}

.radio {
    margin-right: .8rem;
}

input[type=checkbox] {
    display: none;
}
.agree {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 35px;
    position: relative;
    width: auto;
    margin-left: 1rem;
    color: $light-gray;
    @media (min-width: 768px) {
        font-size: 1.8rem;
    }
}
.agree::before {
    background: #fff;
    content: '';
    display: block;
    height: 18px;
    left: 5px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    width: 18px;
    @media (min-width: 768px) {
        height: 20px;
        width: 18px;
        margin-top: -10px;
    }
}
.agree::after {
    border-right: 3px solid $green2;
    border-bottom: 3px solid $green2;
    content: '';
    display: block;
    height: 9px;
    left: 10px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 5px;
}
input[type=checkbox]:checked + 
.agree::after {
    opacity: 1;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 1.2rem;
    border: none;
    background-color: $light-gray;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}

textarea {
    min-height: 18rem;
}

::placeholder {
    color: $navy2;
}
