//
// main-style
//


// main
.main {
    @media (min-width: 768px) {
        width: 70%;
        opacity: 0.9;
    }
}
// button
.button-container-mutual {
    display: flex;
    justify-content: center;
    padding: 2rem 0 3rem;
    @media (min-width: 768px) {
        padding: 5rem 0;
    }
}

.button-mutual {
    padding: 1.7rem 7rem;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #48F2C3;
    background: -webkit-linear-gradient(0deg, #5815D8, #3273C7, #35BA95);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: $navy;
    border: 1px solid $purple;
    border-radius: 5rem;
    box-shadow: 0 0 0 4px #141630, 0 0 0 5px #8A2DD9;
    box-sizing: border-box;
    @media (min-width: 768px) {
        padding: 1rem 8rem;
        font-size: 2rem;
    }
    @media (min-width: 900px) {
        padding: 2rem 8rem;
    }
    @media (min-width: 1025px) {
        padding: 2.5rem 10rem;
        &:hover {
            transition-duration: $defaultDuration;
            background: -webkit-linear-gradient(45deg, #9015d8, #3273C7, #35BA95);
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;
            opacity: 90%;
            color: $white;
        }
    }
}
