//
// ニュースのスタイル
//

.news {
    padding: 3rem 2rem 4rem;
    background: -webkit-linear-gradient(90deg, #107876, #107876, #257388);
    box-sizing: border-box;
    @media (min-width: 768px) {
        padding: 5rem;
        padding-bottom: 7rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}

.box-news-area-wrapper {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box_news-area-arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
    @media (min-width: 768px) {
        top: 45%;
    }
}

.box-news-area-prev-arrow {
    width: 3rem;
    height: auto;
    @media (min-width: 768px) {
        width: 4rem;
        position: absolute;
        left: -3rem;
    }
}

.box-news-area-next-arrow {
    width: 3rem;
    height: auto;
    @media (min-width: 768px) {
        width: 4rem;
        position: absolute;
        right: -3rem;
    }
}

.box-news-area-container {
    width: calc(100% - 20px);
    height: 80vw;
    position: relative;
    display: flex;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    @media (min-width: 768px) {
        width: 668px;
        height: 28vw;
    }
    @media (min-width: 900px) {
        width: 930px;
        height: 28vw;
    }
    @media (min-width: 1025px) {
        height: 24vw;
    }
}

.box-news-list-ajustment {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 0 2rem;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    @media (min-width: 768px) {
        width: 100%;
        margin: 0;
    }
}

.box-news-item {
    width: calc((100% - 80rem) / 6);
    margin-right: 2rem;
    flex: 0 0 auto;
    display: block;
    background-color: #fff;
    @media (min-width: 768px) {
        width: calc((100% - 6rem) / 2);
        margin-right: 3rem;
    }
    @media (min-width: 900px) {
        width: calc((100% - 6rem) / 3);
    }
}

.box-news-image-area {
    width: 100%;
    height: 45vw;
    overflow: hidden;
    @media (min-width: 768px) {
        height: 14vw;
    }
    @media (min-width: 1025px) {
        height: 13vw;
    }
}

.box-news-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: $defaultDuration;
    &:hover {
        transform: scale(1.1);
    }
}

.box-news-text-area {
    padding: 2rem;
}

.box-news-text-label-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.box-news-text-label-category {
    color: $green2;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    @media (min-width: 768px) {
        font-size: 2rem;
    }
}

.box-news-text-label-date {
    color: $gray;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    @media (min-width: 768px) {
       font-size: 1.5rem;
    }
}

.box-news-text-lead-box {
    overflow: hidden;
}

.box-news-text-lead-text {
    width: 100%;
    text-align: justify;
    position: relative;
    color: $dark-gray;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
}

.news-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    @media (min-width: 768px) {
        margin-top: 5rem;
    }
}

.button-news {
    padding: 1.7rem 7rem;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #3B1BEB;
    background: -webkit-linear-gradient(0deg, #48F2C3, #22EADB, #3B1BEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: none;
    border: 1px solid #5815D8;
    border-radius: 5rem;
    box-shadow: 0 0 0 4px #257388, 0 0 0 5px #5815D8;
    box-sizing: border-box;
    @media (min-width: 768px) {
        padding: 2.25rem 12rem;
        font-size: 2rem;
    }
    @media (min-width: 1025px) {
        &:hover {
            transition-duration: $defaultDuration;
            background: -webkit-linear-gradient(45deg, #9015d8, #3273C7, #35BA95);
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;
            opacity: 90%;
            color: $white;
        }
    }
}

//sub
//

.news_sub {
    width: 100%;
    padding: 2rem;
    background: -webkit-linear-gradient(90deg, #107876, #107876, #257388);
    box-sizing: border-box;
    @media (min-width: 768px) {
        padding: 5rem 5rem 2rem;
    }
    @media (min-width: 1025px) {
        padding-bottom: 5rem;
    }
}

.sub_main_news_container {
    padding-bottom: 5rem;
    box-sizing: border-box;
    @media (min-width: 768px) {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 70%;
    }
}

.box-news-area-container_sub {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.box-news-item_sub {
    width: 100%;
    flex: 0 0 auto;
    display: block;
    background-color: #fff;
    margin-bottom: 2rem;
    @media (min-width: 768px) {
        width: calc((100% - 3rem) / 2);
        margin-right: 3rem;
        margin-bottom: 3rem;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    @media (min-width: 1025px) {
        width: calc((100% - 6rem) / 3);
        height: 29.5rem;
        &:nth-child(2n) {
            margin-right: 3rem;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}


